.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  float: left;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

 .btn btn-dark btn-lg{
 	margin-right: 100px;

  }
  .course_form{
  	align-content: center;
  }